section#theory #paper-title {
    background: linear-gradient(rgba(49, 62, 69, 0) 0%,rgba(0, 0, 0, 0.1) 50%, rgba(98, 91, 103, 0) 100%);  

}
#paper-title h3 {
    font-weight: 300;
    font-size: 1.2rem;
    color:antiquewhite;
}

#paper-title h4 {
    font-weight: 300;
    font-style: italic;
}