@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

#dots-container {
    background-color: rgba(122, 133, 150, 0.2);
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    padding: 5%;
}

.dot {
    cursor: pointer;
    background-color: #fff;
    margin: 3px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

.dot.grow {
    transform:scale(1.7);
}