*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow-x : hidden;
}

.main-container {
  width: 100%;
  height: 100%;
  /*CSS Smooth Scroll 
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;*/
}

.main-header {
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(250, 250, 250, 0));
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 30px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menu .menu-item {
  margin-right: 5vw;
  position: relative;
  padding-bottom: 2px;
}

/* Logo */
.logo {
  display: block;
  width: 70px;
  height: auto;
  /*background: rgba(250, 250, 250, 0.7);*/
  align-items: center;
  border-radius: 2px;
}

.logo img {
  width: 100%;
}

.menu .menu-item a {
  text-decoration: none;
  color: #f4f4f4;
}

/*Dropdown Nav */
.menu-item {
  position: relative; 
  padding: 1rem;
}

.menu-item:hover table,
.menu-item:focus table {
  opacity: 1;
  visibility: visible;
}

.nav_list_drop {
  position: absolute;
  text-align: left;
  line-height: 1em;
  background: rgba(0, 0, 0, 0.807);
  padding: 0.7rem 0;
  border-radius: 2px;
  width: auto;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}

table.nav_list_drop {
  border-spacing: 0px 10px;
  border-collapse: separate;
}

table.nav_list_drop a {
  cursor: pointer;
}
.nav_list_drop th, .nav_list_drop td {
  padding: 0.2rem 0.6rem 0.2rem 0.2rem;
}
.nav_list_drop th {
  border-right: solid 1px #f4f4f4;
}
.nav_list_drop td a {
  transition: all 400ms;
}

/*
.nav_list_drop td a:hover {
  color: rgb(187, 221, 210);
}*/

/* Bottom line animation */
.menu .menu-item > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}
.menu .menu-item > a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}


/*Sections*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  /*scroll-snap-align:  center;*/
  position: relative;
}

/*Subjects Menu*/
.section-content {
  display: flex;
  flex-direction: row;
}

table.theory-subjects{
  margin: 30px auto 0 auto;
  display: block;
  box-sizing: border-box;
  text-align: left;
  border-spacing: 30px 0px;
  border-collapse: separate;
}

/*Add to xs screen plus flex-direction: row to .section-content
table.theory-subjects td {
  display: none;
}*/

table.theory-subjects tr {
  display: table-row;
}
table.theory-subjects a {
  text-decoration: none;
  color:#f4f4f4;
  cursor: pointer;
  display: flex;
  padding-bottom: 10px;
  align-items: center;
}
table.theory-subjects a img {
  padding-right: 3px;
  height: 18px;
}

section#theory {
  justify-content: flex-start;
}

section#theory .section-title{
  background-color: #00162C;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 10px;
}

section#theory .section-title h1 {
  font-size: 2rem;
}

section#theory .section-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  padding: 20px;
}

section#theory .section-main .side-menu {
  width: 20%; 
}

section#theory .section-main .main-theory-content {
  width: 80%;
}

section#home {
  background: url("https://source.unsplash.com/bZZp1PmHI0E/1600x900") no-repeat
    center center/cover;
  background-attachment: fixed;
}

section#about {
  background: url("https://source.unsplash.com/VRxo0yY-gyM/1600x900") no-repeat
    center center/cover;
  background-attachment: fixed;
}

section#subjects {
  background: url("https://source.unsplash.com/bZZp1PmHI0E/1600x900") no-repeat
    center center/cover;
  background-attachment: fixed;
}
section#blog {
  background: url("https://source.unsplash.com/K2tdx2mFDHc/1600x900") no-repeat
    center center/cover;
  background-attachment: fixed;
}

section.simple {
  height: 100vh;
}

section h1 {
  font-size: 2rem;
}

section p {
  font-size: 1.5;
}

.simple a {
  text-decoration: none;
}

section .section-footer {
  position: absolute;
  height: 25px;
  width: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
}

/*Load Items onScroll*/
.reveal {
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.reveal.active {
  opacity: 1;
}

/*Search Bar*/
.search-main-container {
  width: 90%;
  /* max-width: 700px;*/
  margin: 30px auto;
}
.search-container {
  padding: 5vw;
  margin: 5vw;
}
.search-container #search-title {
  padding: 2vw;
  background: rgba(255, 255, 0, 0.2);
  backdrop-filter: blur(8px);
  color: rgba(242, 241, 241, 0.9);
  border-radius: 2px;
  letter-spacing: 3px;
}
#search {
  margin: 2vw 0;
  background: rgba(245, 245, 245, 0.6);
  backdrop-filter: blur(5px);
  color: #336;
}
input[type="text"] {
  width: 100%;
  padding: 0.7em 1.2em;
  border: 1px solid #aaa;
  outline-color: #ddd;
}
.blog {
  background: rgba(116, 116, 116, 0.4);
  backdrop-filter: blur(15px);
  border-radius: 2px;
  padding: 3vw;
  margin: 5vw;
}

.blog-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.note-basic {
  width: 50%;
}
.note-equations {
  width: 50%;
}



.blog pre {
  text-align: left;
}
.hidden {
  display: none;
}

/*Media Queries*/
@media only screen and (max-width: 400px) {
  .main-header {
    padding: 0px;
  }
  
  #top-header {
    justify-content: space-evenly;
  }
  
  .menu-item {
    font-size: 10px;
    color:aqua;
  }
}